<p style="color: blue"><%= notice %></p>

<h1>Listado de Productos <%= link_to "<i class='fa fa-plus'></i> Nuevo".html_safe, new_product_path,class: "btn btn-xs btn-dark" %></h1>


<div class="table-responsive">
  <table id="mi_tablita" class="display" style="width:100%">
    <thead>
	  <tr>
	  	<th>Código</th>
	    <th>Nombre</th>
	    <th>Cantidad</th>
	    <th>Proveedor</th>	    
	    <th>Categoria</th>
	    <th>Precio</th>
		<th>Imagen</th>
	    <th>Estado</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  <% @products.each do |product| %>
	  <tr>
	  	<td><%= product.code %></td>
	    <td><%= product.name %></td>
		<td><%= product.qty %></td>
		<td><%= product.supplier.name rescue ""%></td>
		<td><%= product.category.name %></td>
		<td><%= product.price %></td>
		<td>
			<img src="<%= product.image %>" alt="img" width="100px" height="100px">
		</td>
		<td><%= product.str_is_deleted %></td>
		<td>
		  <div class="btn-group">
		    <%= link_to "<i class='fa fa-eye'></i>  ".html_safe, product, class: "btn btn-primary" %>
				
		   	<%= link_to "<i class='fa fa-pencil'></i>  ".html_safe, edit_product_path(product), class: "btn btn-warning" %>

			<%= button_to "<i class='fa fa-trash'></i>  ".html_safe, product, method: :delete , class: "btn btn-danger"%>
		  </div>
		</td>
      </tr>
	  <% end %>
	</tbody>
  </table>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"rel="stylesheet">  
<script>
$(document).ready(function() {
    $('#mi_tablita').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );	
</script>